:root{
  --primary:#23303E;
  --background:#151e27;
  --secondary:#F1304D;
  --hover:#91182a;
  --pri-text:#FFFFFF;
  --white-text:#FFF;
  --sec-text:#b9b9b9;
  --box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  --btn-shadow:0px 2px 10px rgba(255, 0, 55, 0.541);
  --c-border:rgba(114, 114, 114, 0.12);
  --border:1px solid var(--c-border);
  --disable-text:#545454;
  --gradient:linear-gradient(to right,#ff8a00,#da1b60)
}
